// AMBASSADORS

.ambassadors {
  a {
    border: 5px solid transparent;
    line-height: 0;
    display: inline-block;
    margin-bottom: 60px;
    // cursor: url(/img/magnify.svg), auto;
    &:hover {
      border-color: $beardseason-red;
    }
  }
}
.join-us-container {
  @include breakpoint(md) {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 50%;
  }
}
.join-us {
  transition: opacity, 1s;
  @include breakpoint(md) {
    top: 50%;
    position: absolute;
    left: 50%;
    width: 250px;
    height: 250px;
    margin-top: -125px;
    margin-left: -125px;
    opacity: 0;
    visibility: hidden;
  }
  &.visable {
    opacity: 1;
    visibility: visible;
  }

}

// AMBASSADOR SINGLE
.social-container {
  height: 60px;
  position: relative;
  font-style: italic;
}
.social-networks, .share {
  position: absolute;
  width: 100%;
  top: 0px;
  left: 0;
  height: 40px;
  transition: opacity, .4s;
}
.share {
  opacity: 1;
  text-align: center;
  font-family: $serif-font;
  visibility: visible;
  padding: 15px;
  &.off {
    opacity: 0;
    visibility: hidden;
  }
}
.social-networks {
  visibility: hidden;
  opacity: 0;
  padding: 15px;
  &.on {
    opacity: 1;
    visibility: visible;
  }
}
a.social-network {
  padding: 0 15px;
  &:hover {
    text-decoration: underline;
  }
}
