// HOMEPAGE

.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: $color-tan;
  z-index: 9999;
}
.lf {
  position: relative;
  left: 60px;
}

.hp-jimmy {
  max-width: 700px;
  text-align: center;
}


.cta {
  z-index: 2;
  svg {
    g {
      fill: $color-primary;
      transition: .4s;
      transition-property: fill;
    }
    &:hover {
      g {
        fill: darken($color-purple,30%);
      }
    }
  }
}

.active-cta-container {
  position: fixed;
  z-index: 0;
  opacity: 0;
  width: 100%;
  height: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(to bottom, rgba($color-tan,.1) 0%, $color-purple 100%);
  transition: .4s;
  transition-timing-function: ease-in-out;
  transition-property: all;
  &.hover {
    height: 100%;
    opacity: 1;
  }
}
