h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6,
p, ul, ol, pre, table, blockquote {
  margin-top: 0;
  margin-bottom: $base-spacing;
}

h1, .h1 {
  @include h1-font();
}

h2, .h2 {
  @include h2-font();
}

h3, .h3 {
  @include h3-font();
}

h4, .h4 {
  @include h4-font();
}

h5, .h5 {
  @include body-font();
}

h6, .h6 {
  @include small-font();
}

p, ul, ol, pre, table, blockquote {
  @include body-font();
}

p {}

ul, ol {}

a {
  color: $beardseason-red;
}

p a {}

em {}

strong, b {}

i {}

time {}

hr {}
