@mixin btn-color($color) {
  background-color: $color;
  color: #fff;
  &:hover,
  &:focus {
    background-color: mix($color, #fff, 60%);
  }
}

.btn {
  border: 5px solid $color-primary;
  @include h3-font();
  text-transform: uppercase;
  line-height: 1;
  padding: 60px 10px;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  border-radius: 0;
  display: inline-block;  // <a>
  text-align: center;     // <a>
  text-decoration: none;  // <a>
  transition: all .4s;
  &:hover {
    border-color: darken($color-purple,30%);
    color: darken($color-purple,30%);
    background: rgba($color-tan,.2);
  }
}

.btn-primary {
  @include btn-color($color-primary);
}

.btn-secondary {
  @include btn-color($color-secondary);
}

.btn[disabled] {
  background: #CCC;
  color: gray;
  cursor: default;
}
