/* ====================================
 * Header
 * ==================================== */

.logo {
  width: 70px;
  position: fixed;
  bottom: 8px;
  left: 30px;
  z-index: 4;
  display: block;
  @include breakpoint(sm) {
    top: 46px;
    bottom: auto;
  }
}

.page-description {
  text-align: center;
  a {
    color: darken($color-purple,30%);
    text-decoration: underline;
    &:hover {
      color: $beardseason-red;
    }
  }
  @include breakpoint(sm) {
    text-align: left;
  }
}
