/* ====================================
 * Navigation
 * ==================================== */
.main-nav {
  opacity: 0;
  visibility: hidden;
  top: 60px;
  left: 0;
  width: 100vw;
  height: 100vh;
  position: fixed;
  background: rgba($color-tan,.2);
  padding: 8vh 8vw;
  transition-duration: .4s;
  transition-property: all;
  z-index: 99999;
  cursor: url(/img/pointer.svg), pointer;
  .module {
    position: relative;
    height: 84vh;
    background: $beardseason-red;
    .nav-logo {
      margin-bottom: 8vh;
      svg {
        width: 100%;
        height: auto;
      }
    }

    .nav-container {
      height: 100%;
      padding: 8vh 8vw;
    }
    ul {
      padding: 0;
    }
    a {
      color: white;
    }
    .nav-social {
      align-self: flex-end;
      a {
        font-family: $serif-font;
        font-style: italic;
        color: darken($beardseason-red, 20%);
        padding: 0 15px;
        @include small-font();
        @include breakpoint(md) {
          @include body-font();
        }
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

.active-nav .main-nav {
  top: 0;
  opacity: 1;
  visibility: visible;
}

.home-nav {
  text-align: center;
  z-index: 2;
  position: relative;
  ul {
    margin: 0 auto;
    padding: 0;
    li {
      margin: 0;
      list-style: none;
      padding: 0;
      a {
        @include h4-font();
        line-height: 1.5!important;
        text-transform: uppercase;
        letter-spacing: 2px;
        transition: .4s;
        transition-property: letter-spacing;
        @include breakpoint(sm) {
          @include h3-font();
          letter-spacing: 5px;
        }
        @include breakpoint(md) {
          @include h2-font();
        }
        // @include breakpoint(lg) {
        //   @include h1-font();
        // }
        &:hover {
          @include breakpoint(md) {
            letter-spacing: 10px;
          }
        }
      }
    }
  }
}
